/*Cadavre Exquis*/
@charset "utf-8";

body{width:512px; height:748px; margin:0; background-repeat:no-repeat; background-size:contain;}

img{display:block; position:absolute; margin:0;}
#fullsize{top:0; left:0; width:512px; height:748px;}
#exit{top:0; left:0; width:60px; height:60px;}

@font-face{font-family:lmmonoltRegular; src:url(../Font/lmmonoltRegular.otf)format(opentype);}
@font-face{font-family:lmmonoltBold; src:url(../Font/lmmonoltBold.otf)format(opentype);}
@font-face{font-family:lmmonoltBoldOblique; src:url(../Font/lmmonoltBoldOblique.otf)format(opentype);}
@font-face{font-family:lmmonoltcondRegular; src:url(../Font/lmmonoltcondRegular.otf)format(opentype);}
@font-face{font-family:lmmonoltcondOblique; src:url(../Font/lmmonoltcondOblique.otf)format(opentype);}

span.box{width:412px; height:452px;}
span{font-family:"lmmonoltcondRegular", "sans-serif";}
span{font-size:50px;}
#myName{font-size:24px;}
#explication{font-size:18px; text-align:justify; text-justify:inter-ideograph;}

#poemTwo{-webkit-transform:rotateY(180deg);
			-moz-transform:rotateY(180deg);
			}

#poemThree{-webkit-transform:rotate(-90deg);
			-moz-transform:rotate(-90deg);
			}

#poemFour{-webkit-transform:rotate(-90deg);
			-moz-transform:rotate(-90deg);
			}