p {
	color: red;
	transition: 5s;
}

@media all and (max-width: 500px) {
	p {
		color: transparent;
		transition: 5s;
	}
}

@media all and (orientation: landscape) {
	p {
		color: green;
		transition: 5s;
	}
}
