p .tweet {
	position: absolute;
	text-align: center;
	font-size: 200%;
	color: transparent;
	line-height: 2;
	font-style: italic;
	transition: 2s;
}

body:hover .tweet {
	color: blue;
	transition: 2s;
	transition-delay:2s;
}


.fantoma {   
    color: green;
    transition: 5s;   
}

.fantoma:hover  {   
    color: transparent;
    transition: 5s;   
}
