@charset "UTF-8";
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face{font-family:DroidSansMono; src:url('../fonts/DroidSansMono.otf') format('opentype');}

@font-face{font-family:Balthazar; src:url('../fonts/Balthazar-Regular.otf') format('opentype');}

body {
    margin-left: 6em;
    margin-right: 16em;
    color: black;   
    font-family: Balthazar, serif;
    background-color: rgb(242,242,242);
    line-height: 1.5em;
}

h1 {
margin-left: -0.5em;
font-family: DroidSansMono, sans-serif;
font-size: 5em;
   
line-height: 1.5em;
}

h2 {
    margin-top: 5em;
    margin-bottom: 2em;
}

h3 {
    margin-top: 3em;
}


.bandeau
{
position: center;
bottom:10px;
}

span.ad  {
    font-weight: bold;
}

span.lnum {
    float: right;
    color: gray;
    font-size : 90%;
}

a.noteref {    
    color: rgb(215,215,195);
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}



*[epub|type~='dedication'] {
    padding-left: 2em;
}
