@charset "UTF-8";
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";

body {
    margin-left: 6em;
    margin-right: 16em;
    color: black;    
    font-family: times, 'times new roman', serif;    
    background-color: rgb(255,255,245);
    line-height: 1.5em;
}
	
h1 {
	text-align: center;
	color: #f3f3f3;	
	
	}

a:link {color:#FF0000;}
h2 {
    margin-top: 5em;
    margin-bottom: 2em;
}

h3 {
    margin-top: 3em;
}

p.paragraph1 {	background-color: blue;
	text-align: right;
	color:white; 
	font-size: 1em; 
	font-style: italic; 
	line-height: 18px; 
	margin: 0px 0px 14px; 
	padding: 0px; 
	font-family: "Times New Roman", Times, serif;
}
p{	color:red;

}

span.lnum {
    float: right;
    color: gray;
    font-size : 90%;
}

a.noteref {    
    color: rgb(215,215,195);
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}


*[epub|type~='dedication'] {
    padding-left: 2em;
}
